#!/usr/bin/env bash

# Shortcuts
alias d="cd ~/Downloads"
alias p="cd ~/Projects"

# Always enable colored `grep` output
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get macOS Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; mas upgrade; npm install npm -g; npm update -g'

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Don't know, but tmux is hard to type for me
#alias tm="tmux attach || tmux new"

# If you are using Kitty.app then you can preview images on the terminal:
alias icat="kitty +kitten icat"

# The lsd command is "almost" a drop-in replacement of `ls` but with icon's
alias ls="lsd"

# Laravel Sail alias
alias sail='[ -f sail ] && sh sail || sh vendor/bin/sail'

# Search and edit a file in nvim
alias v="fd --type f --hidden --exclude .git | fzf-tmux -p --reverse | xargs nvim"

# Show Todoist tasks in #Inbox
alias tdi="todoist --color l --filter '(#Inbox)'"

# Use `bat` with a theme
alias bat="bat --theme=gruvbox-dark"

# Use btop instead of top or htop
alias htop="btop"
